.header {
    width: 700px;
    height: 200px;
    margin: auto;
}

.header h1 {
    font-size: 80px;
    color: rgb(241, 11, 11);
}

.navbar {
    display: flex; 
    flex-wrap: wrap;
    
}
